@model AutoMagazines.Data.Models.Order

<div>
    <h4>Товары в вашем заказе:</h4>
    <div>
        @foreach (var item in ViewBag.CartItems)
        {
            <p>Автомобиль: @item.Car.Name | Цена: @item.Car.Price.ToString("c")</p>
        }
    </div>
    <hr />

    <h3>Оформление заказа</h3>
    <form asp-action="Checkout" asp-controller="Order" method="post" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Name"></label>
            <div class="col-md-5">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname"></label>
            <div class="col-md-5">
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Adress"></label>
            <div class="col-md-5">
                <input asp-for="Adress" class="form-control"/>
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <div class="col-md-5">
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <input class="btn btn-warning" style="margin:10px 0 0 0" type="submit" value="Завершить заказ"/>
    </form>
    @await Html.PartialAsync("_ValidationScriptsPartial")
</div>

