@model List<AutoMagazines.Data.Models.Cart.ShopCartItem>

<div class="container">
    @foreach(var el in Model)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль: </b> @el.Car.Name <br/>
            <b>Цена: </b> @el.Car.Price.ToString("c") <br/>
        </div>
    }
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Оплатить</a>

</div>